# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# Operating System
.DS_Store
Thumbs.db

# Testing
coverage
/cypress/videos/
/cypress/screenshots/

# Vite
.vite-ssg-dist
.vite-ssg-temp

# Optional: local files
*.local
.local
